body {background-color: rgba(184, 169, 163, 0.74);text-align:center;}
h1 {color: rgb(45, 192, 118);font-size: 30pt;font-family:Georgia, 'Times New Roman', Times, serif;align-items: center;}
p {color: rgb(10, 19, 1);font-family:fantasy ;}


.txt{color:rgb(251, 255, 0);font-size: 30pt;position:relative;}
#d1, #d2, #d3 {color: rgb(17, 11, 4);  border: 10px solid ;}

